.container {
  width: 1000px;
}

header {
  height: 200px;
  width:1000px;
}

.leftBox {
  background-color: #D50021;
  height: 200px;
  width: 320px;
  display: inline-block;
}

.centerBox {
  background-color: #4592DC;
  height: 200px;
  width: 320px;
  display: inline-block;
  margin-left: 15px;
}

.rightBox {
  background-color: #4A4A4A;
  height: 200px;
  width: 320px;
  display: inline-block;
  margin-left: 15px;
}

.textbox {
  height: 500px;
  width: 1000px;
}

p {
  font-size: 25px;
}
.mainBox {
  height: 600px;
  width: 1000px;
}

.leftMainBox {
  background-color: #D50021;
  height: 600px;
  width: 320px;
  float: left;
}

.rightMainBox {
  background-color: #4592DC;
  height: 600px;
  width: 680px;
  float: left;
}

footer {
  height: 175px;
  width: 1000px;
  margin-top: 20px;
}

.blueFooterBox {
  background-color: #4592DC;
  height: 175px;
  width: 600px;
  float: left;
}

.redFooterBox {
  background-color: #D50021;
  height: 175px;
  width: 50px;
  float: left;
}

.blackFooterBox {
  background-color: #4A4A4A;
  height: 175px;
  width: 300px;
  float: left;
}

.rightRedFooterBox {
  background-color: #D50021;
  height: 175px;
  width: 50px;
  float: left;
}
